@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <b>
        <h1 class="display-4">Student Managment System</h1>
    </b>
    <button type="button" class="btn btn-primary">Student</button>
    <button type="button" class="btn btn-primary">Teacher</button>
    <button type="button" class="btn btn-primary">Subject</button>
    <button type="button" class="btn btn-primary">Lab</button>

</div>
